#login label {

  display: inline-block;
  width: 200px;

}

div.inbox {

  width: 90%;
  margin: 0px auto;

}

table.inbox {

  border-collapse:collapse;
  width: 100%; 
  border:1px solid #000000;

}

td.fullWidth {

  width: 100%;

}

td.icon {

  width: 40px;
  text-align: center;

}

th.centre {

  text-align: center;

}

th.left {

  text-align: left;

}

table.inbox th {

  text-align: left;
  
  background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

table.inbox td {

  border:1px solid #000000;

}

td.centre {

  text-align: center;

}

table.inbox tr:nth-child(odd){

  background-color:#aad4ff;

}

table.inbox tr:nth-child(even){

  background-color:#ffffff;

}

table.inbox tr a {

  display: block;
  text-decoration: none;
  color: black;

}

table.inbox tr:hover {

  background-color: #ffff99;

}