hr {

  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));

}

#error {

  width: 80%;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  text-align: center;

}

#logincontainer {

  width: 60%;
  margin: 0 auto;
  background: #aad4ff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 1px;
  border: 1px solid black;

}

#loginheader {

  width: 100%;
  background-color: #005fbf;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;

}

#login {

  width: 90%;
  margin: 0 auto;

}

#login input {

  width: calc(100% - 150px);

}

#login input.button {

  width: 100%;
  margin-top: 10px;
  background-color: #005fbf;
  border : solid 1px #000;
  font-size : 16px;
  font-weight: bolder;
  color : #ffffff;
  font-variant:small-caps;

}

#login label {

  display: inline-block;
  width: 150px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #000;


}

div.inbox {

  width: 90%;
  margin: 0px auto;

}

table.inbox {

  border-collapse:collapse;
  width: 100%; 
  border:1px solid #000000;

}

td.fullWidth {

  width: 100%;

}

th.centre {

  text-align: center;

}

th.left {

  text-align: left;

}

table.inbox th {

  text-align: left;

  background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

table.inbox td {

  border:1px solid #000000;

}

td.centre {

  text-align: center;

}

table.inbox tr:nth-child(odd){

  background-color:#aad4ff;

}

table.inbox tr:nth-child(even){

  background-color:#ffffff;

}

table.inbox tr a {

  display: block;
  text-decoration: none;
  color: black;

}

.quickTools {

  display: none;
  z-index: 1;
  width: 210px;
  height: 30px;
  /*background-color: rgba(0,0,0,0);*/
  background: none;
  /*border: 1px solid black;*/
  position: absolute;
  right: 5px;
  margin-top: -32px;
  padding: 5px;
  /*-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.7);*/
  /*-moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.7);*/
  /*box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.7);*/

}

.quickTools img{

  padding-right: 5px;

}

table.inbox tr td div.quickTools a {

  display: inline-block;

}

table.inbox tr:hover td div.quickTools{

  display: inline-block;

}

table.inbox tr:hover {

  background-color: #ffff99;

}

#container {

  width: 42px;
  height: 42px;
  position: relative;

}

td.icon {

  width: 64px;

}

#badge, #icon {

  text-align: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;

}

#badge {

  top: 16px;
  left: 32px;
  height: 24px;
  width: 24px;
  line-height: 24px;

  -moz-border-radius: 50%;
  border-radius: 50%;

  color: white;
  text-align: center;
  font-size: 1em;
  font-family: monospace;
  z-index: 10;

}

#spacer {
  width: 100%;
  height: 35px;
}