#login label {

  display: inline-block;
  width: 200px;

}

div.inbox {

  width: 90%;
  margin: 0px auto;

}

table.inbox {

  border-collapse:collapse;
  width: 100%; 
  border:1px solid #000000;

}

td.fullWidth {

  width: 100%;

}

th.centre {

  text-align: center;

}

th.left {

  text-align: left;

}

table.inbox th {

  text-align: left;

  background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

table.inbox td {

  border:1px solid #000000;

}

td.centre {

  text-align: center;

}

table.inbox tr:nth-child(odd){

  background-color:#aad4ff;

}

table.inbox tr:nth-child(even){

  background-color:#ffffff;

}

table.inbox tr a {

  display: block;
  text-decoration: none;
  color: black;

}

table.inbox tr:hover {

  background-color: #ffff99;

}

#container {

  width: 42px;
  height: 42px;
  position: relative;

}

td.icon {

  width: 64px;

}

#badge, #icon {

  text-align: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;

}

#badge {

  top: 16px;
  left: 32px;
  height: 24px;
  width: 24px;
  line-height: 24px;

  -moz-border-radius: 50%;
  border-radius: 50%;

  color: white;
  text-align: center;
  font-size: 1em;
  font-family: monospace;
  z-index: 10;

}

#cssmenu.replytoolbox {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#spacer {
    width: 100%;
    height: 35px;
}